# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Karl_\OneDrive\School\BCIT\Courses\CST\term3\COMP-4981_super_dc\assignments\assignment3\.idea/dataSources/
/dataSources.local.xml
